.main__home{
    @include margenes;
    text-align: center;
    padding: 0px 20px;
    line-height: 20px;
    h1{
       
        @extend %title;
    }
    
    .titleHome1{
        margin: 50px 15px;  
        background-color: map-get($colores , "fondo-color");
        box-shadow: $sombra;

        h2{
            @extend %title;
        }
    }
    .titleHome2{
        margin: 20px 15px;
        @extend %title;
    }
    .main__option{
        
        .main__option__list{
            box-sizing: content-box;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-auto-rows:500px ;
            grid-gap: 20px;
            
            .listImg{
                position: relative;
                width: 100%;
                list-style: none;
                
                .home__imagen{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border: black solid 3px;
                    border-radius: 50px;
                }
                &:hover > .textImg{
                    visibility: visible;
                    opacity: 1;
                }
                .textImg{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    width: 100%;
                    top: 0;
                    bottom: 0;
                    font-size: 30px;
                    text-decoration: none;
                    color: azure;
                    transition: all 600ms ease-out;
                    opacity: 0;
                    visibility: hidden;
                    text-align: center;
                }
                &:hover > .home__imagen{
                    transform: scale(1.05);
                    transition: $transicion;
                }
            }
        }

    }
}

@media (max-width: 576px) {
    .main__option .main__option__list{
        box-sizing: content-box;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows:500px ;
        grid-gap: 20px;
        padding: 0;
    }
    
}