.conteiner__footer{
    text-align: center;
    font-size: 16px;
    display: grid;
    padding: 20px;
    background-image: url(../imagenes/fondo-footoer2.png);
    background-size: cover;
    
    
    /*areas*/
     grid-template-areas:
     "redes num direccion horarios";
     
     .redes{
        grid-template-rows: 50% 50%;
        grid-row: 1;
        grid-column: 1;
        grid-area: redes;
        
        nav{
            display: grid;
            grid-template-rows: 33% 33% 33%;
            row-gap: 5px;
        }
        a{
            text-decoration: none;
        }
    }
    
     .num{
        display: grid;
        grid-template-rows: 40% 30% 30%;
        row-gap: 5px;
        grid-row: 1;
        grid-column: 2;
        grid-area: num;
    }
    
     .direccion{
         display: grid;
         grid-template-rows: 40% 30% 30%;
         grid-row: 1;
         grid-column: 3;
         grid-area: direccion;
     }
    
     .horarios{
         display: grid;
         grid-template-rows: 40% 30% 30%; 
         grid-row: 1;
         grid-column: 4;
         grid-area: horarios;
        }
    }
    
    
    @media (max-width: 576px) {
        .conteiner__footer{
            grid-template-areas:
            "redes redes redes redes"
            "num num num num"
            "direccion direccion direccion direccion"
            "horarios horarios horarios horarios";
            
            grid-row: 1fr 1fr 1fr 1fr;
        }
    }