$sombra: 2px 1px 1px 1px;
$transicion: all 400ms ease;

//extend
%title{
    color: #07575B;
    font-family: 'macondo', curive;
}

//mixin

@mixin margenes {
    margin: 25px;
    padding: 0;
}

//map
$iconos:(
    "tweeter": #55ACEE,
    "facebook": #3A5795,
    "instagram": #8134AF
);

$colores: (
    "fondo-color":#C4DFE6,
    "fondo-navegador":#66A5AD,
    "colorTitulos": #07575B,
);

