//partials
@import "../partials/navegacion-header";
@import "../partials/_home";
@import "../partials/coleccion";
@import "../partials/zapatillas";
@import "../partials/kids";
@import "../partials/info";
@import "../partials/sub-info";
@import "../partials/capacitacion";
@import "../partials/navegacion-footer";
@import "../partials/variantes";


body{
    background: url(../imagenes/fondo-pantalla3.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat cover;
    font-family: 'Macondo', cursive;
}

.conteiner{
    width: 90%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(0, 100%, 100%);
}
