@charset "UTF-8";
.main__home h1, .main__home .titleHome1 h2, .main__home .titleHome2, .main__coleccion h1, .main__kids h1, .main__info .info__div2 h2, .main__info h2, .marketing h1 {
  color: #07575B;
  font-family: 'macondo', curive;
}

.conteiner__header {
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 999;
}

.conteiner__header .conteiner__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #66A5AD;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.conteiner__header .conteiner__nav .logo1 {
  margin-left: 10px;
}

.conteiner__header .conteiner__nav .logo1 img {
  border-radius: 10px;
}

.conteiner__header .conteiner__nav .conteiner__lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0;
}

.conteiner__header .conteiner__nav .conteiner__lista li {
  margin: 10px;
}

.conteiner__header .conteiner__nav .conteiner__lista li a {
  text-decoration: none;
  color: black;
  margin: 5px;
  padding: 5px;
}

.conteiner__header .conteiner__nav .conteiner__lista li a:hover {
  background-color: #07575B;
  border-radius: 50px;
  color: white;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

@media (max-width: 576px) {
  .conteiner__lista {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #515151;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    opacity: 0.9;
    top: 90px;
    left: 30px;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .conteiner__lista li a {
    text-decoration: none;
    color: white;
  }
  .conteiner__lista li a:hover {
    border-bottom: 1px black solid;
  }
}

.main__home {
  margin: 25px;
  padding: 0;
  text-align: center;
  padding: 0px 20px;
  line-height: 20px;
}

.main__home .titleHome1 {
  margin: 50px 15px;
  background-color: #C4DFE6;
  -webkit-box-shadow: 2px 1px 1px 1px;
          box-shadow: 2px 1px 1px 1px;
}

.main__home .titleHome2 {
  margin: 20px 15px;
}

.main__home .main__option .main__option__list {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 500px;
  grid-gap: 20px;
}

.main__home .main__option .main__option__list .listImg {
  position: relative;
  width: 100%;
  list-style: none;
}

.main__home .main__option .main__option__list .listImg .home__imagen {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: black solid 3px;
  border-radius: 50px;
}

.main__home .main__option .main__option__list .listImg:hover > .textImg {
  visibility: visible;
  opacity: 1;
}

.main__home .main__option .main__option__list .listImg .textImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  font-size: 30px;
  text-decoration: none;
  color: azure;
  -webkit-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.main__home .main__option .main__option__list .listImg:hover > .home__imagen {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

@media (max-width: 576px) {
  .main__option .main__option__list {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-auto-rows: 500px;
    grid-gap: 20px;
    padding: 0;
  }
}

.main__coleccion {
  text-align: center;
  margin: 25px;
  padding: 0;
}

.main__coleccion .mainGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: 300px;
  padding: 10px;
}

.main__coleccion .mainGrid .ropa {
  position: relative;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.main__coleccion .mainGrid .ropa:hover {
  -webkit-transform: translate(-1%);
          transform: translate(-1%);
}

.main__coleccion .mainGrid .ropa .titleMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  color: antiquewhite;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(black));
  background: linear-gradient(rgba(255, 255, 255, 0), black);
  width: 100%;
}

.main__coleccion .mainGrid .ropa .imagen {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__coleccion .mainGrid .ropa:nth-child(1) {
  grid-column: span 2;
}

.main__coleccion .mainGrid .ropa:nth-child(5) {
  grid-row: span 2;
}

.main__coleccion .mainGrid .ropa:nth-child(6) {
  grid-row: span 2;
}

/*Mediaquerie movile vertical COLECCION*/
@media (max-width: 576px) {
  .mainGrid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-auto-rows: 300px;
    padding: 10px;
  }
}

/*Mediaquerie movile horizontal COLECCION*/
@media (max-width: 767px) {
  .mainGrid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: 300px;
    padding: 10px;
  }
}

.main__home h1, .main__home .titleHome1 h2, .main__home .titleHome2, .main__coleccion h1, .main__kids h1, .main__info .info__div2 h2, .main__info h2, .marketing h1 {
  color: #07575B;
  font-family: 'macondo', curive;
}

.subColeccion {
  margin: 20px 10px;
  width: 100%;
}

.subColeccion .subRopa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.subColeccion .subRopa .subImg {
  width: 0 0;
  width: 400px;
  height: 300px;
  overflow: hidden;
}

.subColeccion .subRopa .subImg img {
  width: 100%;
  height: 100%;
}

.subColeccion .subRopa .subDetalle {
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subColeccion .subRopa .subDetalle .comprar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.main__home h1, .main__home .titleHome1 h2, .main__home .titleHome2, .main__coleccion h1, .main__kids h1, .main__info .info__div2 h2, .main__info h2, .marketing h1 {
  color: #07575B;
  font-family: 'macondo', curive;
}

.main__kids {
  text-align: center;
  margin: 25px;
  padding: 0;
}

.main__kids .kids__div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: 400px;
  -o-object-fit: cover center;
     object-fit: cover center;
  padding: 10px;
}

.main__kids .kids__div .ropaKids {
  position: relative;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.main__kids .kids__div .ropaKids:hover {
  -webkit-transform: translate(-1%);
          transform: translate(-1%);
}

.main__kids .kids__div .ropaKids .title__kids {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  bottom: 0px;
  margin: 0px;
  width: 100%;
  color: antiquewhite;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(black));
  background: linear-gradient(rgba(255, 255, 255, 0), black);
}

.main__kids .kids__div .ropaKids .ropaNiños {
  width: 100%;
  height: 100%;
}

.main__kids .kids__div .ropaKids:nth-child(2) {
  grid-column: span 2;
  grid-row: span 2;
}

.main__kids .kids__div .ropaKids:nth-child(6) {
  -ms-grid-row-span: 2;
      grid-row-end: span 2;
}

@media (max-width: 576px) {
  .kids__div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: 400px;
    -o-object-fit: cover center;
       object-fit: cover center;
    padding: 10px;
    grid-auto-flow: dense;
  }
}

.main__home h1, .main__home .titleHome1 h2, .main__home .titleHome2, .main__coleccion h1, .main__kids h1, .main__info .info__div2 h2, .main__info h2, .marketing h1 {
  color: #07575B;
  font-family: 'macondo', curive;
}

.main__info {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 10px;
  margin: 25px;
  padding: 0;
  /*Areas*/
      grid-template-areas: "talle talle" "envio envio" "trabaja trabaja";
}

.main__info .info__div1 {
  width: 95%;
  margin: auto;
  overflow: hidden;
  /*Areas*/
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: talle;
}

.main__info .info__div1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: cambio 50s infinite alternate linear;
          animation: cambio 50s infinite alternate linear;
  width: 400%;
  padding: 0;
}

.main__info .info__div1 ul li {
  width: 100%;
  list-style: none;
}

.main__info .info__div1 ul li img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

.main__info .info__div2 {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 50px 10px 50px;
  background-color: #C4DFE6;
  margin: 25px;
  padding: 0;
  /*Areas*/
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: envio;
}

.main__info .info__div3 {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 50px 10px 50px;
  background-color: #C4DFE6;
  margin: 25px;
  padding: 0;
  /*Areas*/
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: trabaja;
}

/* INFO Media queries*/
@media (max-width: 576px) {
  .main__info {
    display: -ms-grid;
    display: grid;
    grid-gap: 40px;
    padding: 10px;
    /*Areas*/
        grid-template-areas: "talle talle" "envio envio" "trabaja trabaja";
  }
}

.main__home h1, .main__home .titleHome1 h2, .main__home .titleHome2, .main__coleccion h1, .main__kids h1, .main__info .info__div2 h2, .main__info h2, .marketing h1 {
  color: #07575B;
  font-family: 'macondo', curive;
}

/*Navegacion superior*/
.bootsList {
  list-style: none;
}

.bootsList li a {
  text-decoration: none;
  color: black;
}

.bootsList li a:hover {
  border-bottom: 1px solid black;
}

.carousel-inner img {
  height: 500px;
}

.imgCapacitacion {
  width: 451px;
  height: 200px;
}

.imgCapacitacion:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/*Navegacion inferior*/
.bootsFooter {
  text-align: center;
  font-size: 16px;
  padding: 20px;
  background-image: url(../imagenes/fondo-footoer2.png);
  background-size: cover;
}

.bootsFooter .redes .redes1 a {
  text-decoration: none;
  color: black;
}

@media (max-width: 576px) {
  .contenedorImg img {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .navegacionSub {
    background-color: #515151;
  }
  .navegacionSub ul li a {
    color: aliceblue;
  }
}

.navegacionBt {
  background-color: #66A5AD;
}

.marketing {
  text-align: center;
  margin: 15px 20px;
  margin: 25px;
  padding: 0;
}

.marketing h1 {
  padding-bottom: 10px;
}

.marketing .gridMarketing {
  display: -ms-grid;
  display: grid;
  margin: 50px 100px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
      grid-template-areas: "requisitos titulo";
}

.marketing .gridMarketing .requisitos {
  border: 1px solid black;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 2px 1px 1px 1px;
          box-shadow: 2px 1px 1px 1px;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: requisitos;
}

.marketing .gridMarketing .requisitos p {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
}

.marketing .gridMarketing .titulo {
  border: 1px solid black;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 2px 1px 1px 1px;
          box-shadow: 2px 1px 1px 1px;
  grid-row: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: titulo;
}

.marketing .gridMarketing .titulo p {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
}

.marketing .listaPersonal .personal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1100px;
}

.marketing .listaPersonal .personal .carta {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgba(255, 248, 248, 0.74);
}

.marketing .listaPersonal .personal .carta img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-top: 15px;
}

.marketing .listaPersonal .personal .carta:hover {
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-3%);
          transform: translate(-3%);
}

.marketing .listaPersonal .personal .carta .descripcion {
  margin-top: 20px;
  padding: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.marketing .listaPersonal .personal .carta .descripcion h2 {
  margin-bottom: 0px;
}

.marketing .listaPersonal .personal .carta .descripcion h5 {
  color: #505050;
  font-size: 16px;
}

.marketing .listaPersonal .personal .carta .descripcion p {
  color: #505050;
  font-size: 13px;
}

.datosCurso {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin-top: 50px;
  width: 100%;
  border: 1px solid black;
      grid-template-areas: "titulo titulo titulo"   ". dato1 ." ". dato2 ." ". dato3 ." ". boton .";
}

.datosCurso h4 {
  margin-top: 20px;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: titulo;
  text-align: center;
}

.datosCurso .dato1 {
  margin-bottom: 20px;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: dato1;
}

.datosCurso .dato2 {
  margin-bottom: 20px;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: dato2;
}

.datosCurso .dato3 {
  margin-bottom: 20px;
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: dato3;
}

.datosCurso .enviarForm {
  margin-bottom: 20px;
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: boton;
}

@media (max-width: 576px) {
  .gridMarketing {
    display: -ms-grid;
    display: grid;
    margin: 50px 100px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
        grid-template-areas: "requisitos requisitos" "titulo titulo";
  }
  .personal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .requisitos {
    border: 1px solid black;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
    -webkit-box-shadow: 2px 1px 1px 1px;
            box-shadow: 2px 1px 1px 1px;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: requisitos;
  }
  .titulo {
    border: 1px solid black;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
    -webkit-box-shadow: 2px 1px 1px 1px;
            box-shadow: 2px 1px 1px 1px;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: titulo;
  }
}

.main__home h1, .main__home .titleHome1 h2, .main__home .titleHome2, .main__coleccion h1, .main__kids h1, .main__info .info__div2 h2, .main__info h2, .marketing h1 {
  color: #07575B;
  font-family: 'macondo', curive;
}

.conteiner__footer {
  text-align: center;
  font-size: 16px;
  display: -ms-grid;
  display: grid;
  padding: 20px;
  background-image: url(../imagenes/fondo-footoer2.png);
  background-size: cover;
  /*areas*/
      grid-template-areas: "redes num direccion horarios";
}

.conteiner__footer .redes {
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: redes;
}

.conteiner__footer .redes nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 33% 33% 33%;
      grid-template-rows: 33% 33% 33%;
  row-gap: 5px;
}

.conteiner__footer .redes a {
  text-decoration: none;
}

.conteiner__footer .redes a .icon1 {
  font-size: 2rem;
}

.conteiner__footer .num {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40% 30% 30%;
      grid-template-rows: 40% 30% 30%;
  row-gap: 5px;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: num;
}

.conteiner__footer .direccion {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40% 30% 30%;
      grid-template-rows: 40% 30% 30%;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: direccion;
}

.conteiner__footer .horarios {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40% 30% 30%;
      grid-template-rows: 40% 30% 30%;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: horarios;
}

@media (max-width: 576px) {
  .conteiner__footer {
        grid-template-areas: "redes redes redes redes" "num num num num" "direccion direccion direccion direccion" "horarios horarios horarios horarios";
    grid-row: 1fr 1fr 1fr 1fr;
  }
}

.main__home h1, .main__home .titleHome1 h2, .main__home .titleHome2, .main__coleccion h1, .main__kids h1, .main__info .info__div2 h2, .main__info h2, .marketing h1 {
  color: #07575B;
  font-family: 'macondo', curive;
}

body {
  background: url(../imagenes/fondo-pantalla3.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat cover;
  font-family: 'Macondo', cursive;
}

.conteiner {
  width: 90%;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
/*# sourceMappingURL=style.css.map */